$accent-color: #28a745;
$text-white-color: #fff;
$text-black-color: #333;
$solutions-bg-color: #28a745;
$blog-bg-color: #0284d0;
$team-bg-color: #b3b3b3;
$request-bg-color: #f4f4f4;
$footer-bg-color: #333;
$btn-white-hover: #f4f4f4;
