$accent-color: #28a745;
$accent-color-hover: #23c248;
$text-white-color: #fff;
$text-black-color: #333;
$solutions-bg-color: #28a745;
$blog-bg-color: #0284d0;
$team-bg-color: #b3b3b3;
$request-bg-color: #f4f4f4;
$footer-bg-color: #333;
$btn-white-hover: #f4f4f4;

// @media

$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;
